*{
    margin: 0 ; padding: 0; font-family: 'Lato', sans-serif;}

body{ font-size: 100%;}
header{ background-color: #05033a;}

h1{ text-align: center;font-size: 1.5em; color: #f90d5f; width: 70%; display: block;
    padding: 5vh 0; margin: 0 auto;}
h3, p{font-size: .9em;color: #ffffff;text-align: center;}
img{width:4vw;display: block;  margin: 0 auto;}



.p1{  background-color: #ffffff; padding: 5vh 0;}
.p1-box{ display: grid;grid-template-columns: 45% 45%;justify-content: center;align-items:flex-start ;}
.p1-item{display: flex; align-items: flex-start;justify-content: flex-start;margin-bottom: 5vh;}
.p1-item img{width: 5vw;}
.p1-item h3, .p2-item h3{ color: #000000;width: 80%;font-size: 1.2em;font-weight: 400;}

.p2{background-color: #fafafa;}
.p2-box{ display: grid; grid-template-columns: 40% 40%;justify-content: center; align-items: center;flex-direction: column;}  
.p2-item{ display: flex; flex-direction: column; align-items: center; justify-content: center;  margin: 5vh 0; }   
.p2-item img{width: 5vw;margin: 0  5vw;}

.p3-box{background-color: #ffffff;display: flex;justify-content: center;align-items: flex-start;}
.p3-item{flex-direction: row;}
.p3-item img{ display: block; margin: 0 auto; margin:4vh 1vw;}
.text-p3{ background-color: #ffffff;color: black;}
.text-p3 p{color: black;text-align: center;}

footer{background-color: #05033a;}
footer p{ text-align: center; padding: 15px 0;}
footer p a{ color:#ffffff;text-decoration: none; text-align: center;}

 @media screen and (max-width:900px){

    header{height: auto;}
    header h1{padding: 0 0;text-align: center;}
    .form{ margin-bottom:0vh; width: 90vw;}

   .p1-item h3, .p2-item h3{font-size: .8em;width: 70%;}

    .p1-box,.p2-box,.p3-box{ grid-template-columns: 100%;} 

    .p1-item{flex-direction: column;align-items: center;}

    .p2-item img, .p1-item img{ width: 20vw; }

    .p3-item img{width: 12vw; padding-bottom:3vh;}
    .text-p3 p{width: 50%; display: block; margin: 0  auto;padding-bottom:3vh;}

    footer{width: 100%; font-size: .7em;}
 }